<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Home Page</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.js"></script>
</head>
<body>

<div align="right">
	<a th:href = "@{/SalesReport}">Sales Report</a><br>
</div>

<h3>Create a new product</h3>
<div>
	<form action="#" th:action="@{/CreateProduct}" method="POST">
	    <fieldset>
	        Product Name: <input type="text" name="productName" required> <br>
	        Monthly Fee: <input type="number" name="monthlyFee" required><br>
	        
	        <input type="submit" value="Submit">
	        <p th:text=" ${cpErrMsg}"></p>
	    </fieldset>
	</form>
</div>

<h3>Create a new service</h3>
<div>
	<form action="#" th:action="@{/CreateService}"  method="POST">
	    <fieldset>
	        Service Name: <input type="text" name="serviceName" required> <br>
	        
	        <label>Service Type:</label><br>
	        <select id="service_type" name="serviceType">
	        		<option value="fixphone">Fixed Phone</option>
	        		<option value="mbphone">Mobile Phone</option>
	        		<option value="int">Fixed Internet</option>
	        		<option value="int">Mobile Internet</option>
	        </select>
	        <div>
		        <div id="selt_fixphone" style="display:none">
		        </div>
		        <div id="selt_mbphone" style="display:none">
		        		Number of Extra Minutes: <input type="number" name="extraMinute"><br>
		        		Fee for extra Minutes: <input type="number" name="extraMinuteFee"><br>
		        		Number of SMSs: <input type="number" name="extraSMS"><br>
		        		Fee for extra SMSs: <input type="number" name="extraSMSFee"><br>
		        </div>
		        <div id="selt_int" style="display:none">
		        		Number of Gigabytes: <input type="number" name="extraGB"><br>
		        		Fee for extra Gigabytes: <input type="number" name="extraGBFee"><br>
		        </div>
	      	</div>
	        <input type="submit" value="Submit">
	        <p th:text=" ${csErrMsg}"></p>
	    </fieldset>
	</form>
</div>

<h3>Create a new validity period</h3>
<div>
	<form action="#" th:action="@{/CreateValidityPeriod}" method="POST">
	    <fieldset>
	        Validity Period Duration: <input type="text" name="duration" required> <br>
	         Validity Period Price: <input type="number" name="price" required><br>
	        
	        <input type="submit" value="Submit">
	        <p th:text=" ${cvpErrMsg}"></p>
	    </fieldset>
	</form>
</div>

<h3>Create a new service package</h3>
<div>
	<form action="#" th:action="@{/CreateServicePkg}"  method="POST">
	    <fieldset>
	        Service Package Name: <input type="text" name="servicePkgName" required> <br>
	        
	         <!-- validity period -->
	         <label>Validity Period: </label><br>
	         <div th:if="${validperiodSet == null || validperiodSet.isEmpty()}">
	         	<span>No available validity period. Create one above!</span>
	         </div>
	         <div th:if="${!validperiodSet.isEmpty()}">
		         <select name="validperiods" multiple style="padding: 5px;">
		         		<option th:each="vp: ${validperiodSet}" th:value="${vp.getId()}" th:text="${vp.toString()}"></option>
		         </select>
		         <br><br>
		         <p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>
	         </div>
	         <br>
	         
	          <!-- associated service -->
	          <label>Services: </label><br>
	         <div th:if="${serviceSet == null || serviceSet.isEmpty()}">
	         	<span>No available service. Create one above!</span>
	         </div>
	         <div th:if="${!serviceSet.isEmpty()}">
		         <select name="services" multiple style="padding: 5px;">
		         		<option th:each="srv: ${serviceSet}" th:value="${srv.getId()}" th:text="${srv.getName()}"></option>
		         </select>
		         <br><br>
		         <p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>
	         </div>
	         <br>
	         
	         
	           <!-- associated products -->
	           <label>Products (Optional): </label><br>
	         <div th:if="${productSet == null || productSet.isEmpty()}">
	         	<span>No available product. Create one above!</span>
	         </div>
	         <div th:if="${!productSet.isEmpty()}">
		         <select name="products" multiple style="padding: 5px;">
		         		<option th:each="prod: ${productSet}" th:value="${prod.getId()}" th:text="${prod.getName()}"></option>
		         </select>
		         <br><br>
		         <p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>
	         </div>
	           
	        <input type="submit" value="Submit">
	        <p th:text=" ${cspErrMsg}"></p>
	    </fieldset>
	</form>
</div>

<script type="text/javascript">
$(function(){
	// service creation: on change
	$('#service_type').change(function(){
		var selton = $('#selt_' + $(this).val());
		selton.show().siblings().css("display", "none");
		selton.css("display", "block");
	});
})	
</script>

</body>
</html>