<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sales Report</title>
<style>
        table,table tr th, table tr td { border:1px solid #0094ff; }
        table {
        	width: 200px;
        	min-height: 25px;
        	line-height: 25px;
        	text-align: center;
        	border-collapse: collapse;
        }   
</style>
</head>
<body>

<div align="right">
	<a th:href = "@{/EmployeeHome}">Home</a><br>
</div>

<h3>Number of total purchases per package: </h3>
<table>
	<tr>
		<th> Package </th>
		<th> Total Purchases </th>
	</tr>
	<tr th:each="pp : ${packagePurchaseList}">
		<td th:text="${pp[0]}"></td>
		<td th:text="${pp[1]}"></td>
	</tr>
</table>
<p th:text=" ${ppErrMsg}"></p>
<hr />

<h3>Number of total purchases per package and validity period: </h3>
<table>
	<tr>
		<th> Package </th>
		<th> Validity Period </th>
		<th> Total Purchases </th>
	</tr>
	<tr th:each="pp : ${packageVPPurchaseList}">
		<td th:text="${pp[0]}"></td>
		<td th:text="${pp[1]}"></td>
		<td th:text="${pp[2]}"></td>
	</tr>
</table>
<p th:text=" ${pvppErrMsg}"></p>
<hr />

<h3>Total value of sales per package with the optional products: </h3>
<table>
	<tr>
		<th> Package </th>
		<th> Total value of sales </th>
	</tr>
	<tr th:each="e : ${packageSaleWProdList}">
		<td th:text="${e[0]}"></td>
		<td th:text="${e[1]}"></td>
	</tr>
</table>
<p th:text=" ${pswpErrMsg}"></p>
<hr />

<h3>Total value of sales per package without the optional products: </h3>
<table>
	<tr>
		<th> Package </th>
		<th> Total value of sales </th>
	</tr>
	<tr th:each="e : ${packageSaleNProdList}">
		<td th:text="${e[0]}"></td>
		<td th:text="${e[1]}"></td>
	</tr>
</table>
<p th:text=" ${psnpErrMsg}"></p>
<hr />

<h3>Average number of optional products sold together with each service package.</h3>
<table>
	<tr>
		<th> Package </th>
		<th> Average number of optional products sold </th>
	</tr>
	<tr th:each="e : ${avgSaleProdPerSPList}">
		<td th:text="${e[0]}"></td>
		<td th:text="${e[1]}"></td>
	</tr>
</table>
<p th:text=" ${asppspErrMsg}"></p>
<hr />

<h3>Insolvent Users</h3>
<div th:if="${insolventUserList == null || insolventUserList.isEmpty()}">
	<p> No Data</p>
</div>
<div th:if="${!(insolventUserList == null || insolventUserList.isEmpty())}">
	<table>
		<tr>
			<th>User Id</th><th>User Name</th><th>Email</th>
		</tr>
		<tr th:each="iu: ${insolventUserList}">
			<td th:text="${iu.getId()}"></td>
			<td th:text="${iu.getUsername()}"></td>
			<td th:text="${iu.getEmail()}"></td>
		</tr>
	</table>
	<p th:text=" ${iuErrMsg}"></p>
</div>
<hr />

<h3>Suspended Orders</h3>
<div th:if="${suspOrderList == null || suspOrderList.isEmpty()}">
	<p> No Data</p>
</div>
<div th:if="${!(suspOrderList == null || suspOrderList.isEmpty())}">
	<table>
		<tr>
			<th>Order Id</th><th>User</th><th>Service Package</th><th>Creation Date</th><th>Creation Hour</th><th>Total Value</th>
		</tr>
		<tr th:each="so: ${suspOrderList}">
			<td th:text="${so.getId()}"></td>
			<td th:text="${so.getUser().toString()}"></td>
			<td th:text="${so.getServicePackage()}"></td>
			<td th:text="${so.getDateOfCreation()}"></td>
			<td th:text="${so.getHourOfCreation()}"></td>
			<td th:text="${so.getTotalvalue()}"></td>
	</table>
	<p th:text=" ${soErrMsg}"></p>
</div>
<hr />

<h3>Alerts</h3>
<div th:if="${auditList == null || auditList.isEmpty()}">
	<p> No Data</p>
</div>
<div th:if="${!(auditList == null || auditList.isEmpty())}">
	<table>
		<tr>
			<th>Id</th><th>User Id</th><th>User Name</th><th>Email</th><th>Amount</th><th>Last Rejection Time</th>
		</tr>
		<tr th:each="ad: ${auditList}">
			<td th:text="${ad.getId()}"></td>
			<td th:text="${ad.getUserId()}"></td>
			<td th:text="${ad.getUsername()}"></td>
			<td th:text="${ad.getEmail()}"></td>
			<td th:text="${ad.getAmount()}"></td>
			<td th:text="${ad.getLastRejectionTime()}"></td>
		</tr>
	</table>
	<p th:text=" ${audErrMsg}"></p>
</div>
<hr />

<h3>Best seller optional product</h3>
<div th:if="${bestOptProd == null}">
	<p> No Data</p>
</div>
<div th:if="${bestOptProd != null}">
	<p th:text="${bestOptProd[0]}"></p>
</div>
<p th:text=" ${bspErrMsg}"></p>

</body>
</html>