<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 
	variables needed: userIsLogged - boolean
		user - User
		servicePackages - List<ServicePackage>
 -->

<meta charset="ISO-8859-1">
<title>Order composition</title>
<script>

	window.onload = function(e) {
		let today = new Date();
		//24*60*60*1000 = milliseconds in one day
		let tomorrow = new Date(today.getTime() + 24*60*60*1000);
		document.getElementById('startDate').valueAsDate = tomorrow;
	}
</script>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

	<div class="loginDiv" th:if="${user != null}">
		<p th:text="${user.username}" />
		<a th:href="@{/Logout}">Logout</a>
	</div>


	<h1 th:if="${error != null}" th:text="${error}"></h1>
	<form th:action="@{/OrderConfirmation}" method="POST">
		<table>
			<tr>
				<th></th>
				<th>Service Package</th>
				<th>Service</th>
				<th>Validity Periods
					<table>
						<tr>
							<td>o</td>
							<td>Months</td>
							<td>Price</td>
						</tr>
					</table>
				</th>
				<th>Optional Products
					<table>
						<tr>
							<td>o</td>
							<td>Name</td>
							<td>Price</td>
						</tr>
					</table>
				</th>
			</tr>
			<tr th:each="srvPkg : ${servicePackages}">
				<td><input type="radio" th:value="${srvPkg.id}"
					name="servicePackageId" /></td>
				<td>
					<p th:text="${srvPkg.name}" />
				</td>
				<td>
					<p th:each="service: ${srvPkg.availableServices}"
						th:text="${service.name}" />
				</td>
				<td>
					<table class="innerTable">
						<tr th:each="vp : ${srvPkg.validityPeriods}">
							<td><input type="radio"
								th:value="${srvPkg.id} + ',' + ${vp.id}" name="validityPeriodId" /></td>
							<td>
								<p th:text="${vp.monthDuration}" />
							</td>
							<td>
								<p th:text="${vp.price} + ' euro'" />
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table class="innerTable">
						<tr th:each="op : ${srvPkg.availableOptProds}">
							<td><input type="checkbox"
								th:value="${srvPkg.id} + ',' + ${op.id}"
								th:name="availableOptProdId" /></td>
							<td>
								<p th:text="${op.name}" />
							</td>
							<td>
								<p th:text="${op.monthlyFee} + ' euro'" />
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<br> Select desired start date: <input type="date"
			name="startDate" id="startDate" value="2022-01-01" /> <br> <input
			type="submit" name="confirmButton" value="Confirm" />
	</form>
</body>
</html>