<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 
	variables needed: userIsLogged - boolean
		user - User
		order - Order
 -->

<!-- 
 	display order details then allow to confirm
 	needs order
  -->
<meta charset="ISO-8859-1">
<title>Telco homepage</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<div class="loginDiv" th:if="${user != null}">
		<p th:text="${user.username}" />
		<a th:href="@{/Logout}">Logout</a>
	</div>
	
	<h1 th:text="${error}"></h1>
	<h2>Order recap</h2>
	<form action="OrderConfirmation" method="POST">
		<p th:text="'Chosen service package: ' + ${order.servicePackage.name}" />
		<p
			th:text="'Duration: ' + ${order.validityPeriod.monthDuration} + ' months'" />
		<p th:text="'Price: ' + ${order.validityPeriod.price} + ' euro'" />
		Included services:
		<ul>
			<li th:each="service: ${order.servicePackage.availableServices}"
				th:text="${service.name}" />
		</ul>

		<p th:unless="${order.chosenOptProds.empty}">Chosen optional
			products:
		<ul>
			<li th:each="op: ${order.chosenOptProds}">
				<p th:inline="text">
					[[${op.name}]]<br>[[${op.monthlyFee}]] euro
				</p>
			</li>
		</ul>

		</p>

		<p th:text="'Chosen start date: ' + ${order.startDate}" />
		<p th:text="'Total value: ' + ${order.totalvalue} + ' euro'" />
		<div th:if="${user != null}">
			Select payment outcome
			<input type="submit" name="valid" value="Valid"> <input
				type="submit" name="notValid" value="Not Valid"> <input
				type="submit" name="random" value="Random">
		</div>
		<input type="submit" name="deleteOrder" value="Delete Order" /><br> <input
			th:unless="${user != null}" type="submit" name="login" value="Login">
	</form>
</body>
</html>