	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 
	variables needed: none
	variables used: errorMsgLogin, registrationResult - string
		onlyLogin - boolean
 -->
<meta charset="ISO-8859-1">
<title>Welcome to TELCO</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
	<div align="right">
		<a href="employee/login.html">Employee</a><br>
	</div>
	<h1>Telco Service Home Page</h1>
	<table class="table">
		<tr>
			<th>Login</th>
			<th>Register</th>
		</tr>
		<tr>
			<td>
				<form action="UserLogin" method="POST">
					Username: <input type="text" name="username" value="user1" required>
					Password: <input type="text" name="password" value="pass" required>
					<br> <input type="submit" name="login" value="Login">

					<p th:text=" ${errorMsgLogin}"></p>
				</form>
			</td>

			<td>
				<form action="UserRegister" method="POST">
					Username: <input type="text" name="username" value="user1" required>
					Password: <input type="text" name="password" value="pass" required>
					Email: <input type="text" name="email" value="mail@mail.com"
						required> <input type="submit" value="Register">
					<p th:text=" ${registrationResult}"></p>

				</form>
			</td>
		</tr>
	</table>

	<form action="BuyService" method="POST" th:unless="${onlyLogin}">
		Browse without logging in <input type="submit" value="Enter">
	</form>

</body>
</html>


<!-- 
	pages flow: index.html -> UserLogin.java -> GoToHomepage.java
	-> homepage.html -> BuyService.java -> buyService.html 
	-> BuyService.java -> orderConfirmation.html -> OrderConfirmation.java
	-> GoToHomepage.java -> homepage.html
 -->